@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.header {
    width: 100vw;      
    background-color: #000000; 
    color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    display: flex;    
    justify-content: space-between;
    align-items: center;
    position: relative
}

.title-section,
.button-container {
  flex: 1;
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    text-align: left;
    font-family: "Limelight", sans-serif;
    font-size: 1rem;
}

.logo {
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.timer-section {
    text-align: center;    
    align-items: center;
    font-size: 1.25rem;
    display: flex;
    gap: 2rem;
}
.button-container {
    padding-right: 2rem;
    height: 100%;
}
