.clue-card-container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 40rem;
    min-width: 40rem;
    justify-self: center;
    border-radius: 1rem;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: flex-start;
}

.cocktail-name-container {
    padding-left: 1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}