name: SonarCloud Analysis

on:
  push:
    branches: [main]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install Backend dependencies
        run: npm ci

      - name: Build Backend
        run: npm run build

      - name: Install Frontend dependencies
        run: |
          cd boozle-frontend
          npm install
          npm run build
          cd ..

      - name: Run Backend tests
        run: npm test --  --coverage

      - name: Run Frontend tests
        run: |
          cd boozle-frontend
          npm test -- --coverage
          cd ..